@import 'reset';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';




html{
    margin-left: 5%;
    box-sizing: border-box;
}
   *,*:before, *:after {
    box-sizing:inherit;
}

 img{
    height:220px;
    width:220px;
    margin-top:3%;
}
.header{
    border:1px solid gray;
    margin-left:-10%;
    width:120%;
    background-color: #F1EDED;
    height:40px;
}
h2{
    display:block;
    font-size: 26px;
    }

.zeroes, .zeroesToo{
    font-size:30px;
    color:blue;
    font-weight:heavy;
    display: inline-block;
    }



